$dark-gray : #222;
$blue : #3498db;

$primary-color : $blue;

// * * * TYPO * * *
$ff-sans : "Helvetica Neue", Helvetica, Arial, sans-serif;

// * * * ADMIN NAVBAR * * *
$admin-navbar-size : 50px;

// * * * ADMIN MENU * * *
$am-current-bcolor : $primary-color;
$am-item-size : 50px;
