<div class="grid" ng-controller="moduleSingleController" ng-init="init( {{module|json_encode() }} , {{data|json_encode()}} )">
	<div class="moduleSingle-toolbar mv10">	
		<a href="#/{{ module.labels.name }}" class="btn">
			<i class="ion-ios7-undo"></i> {{ module.labels.title }}
		</a>
	</div>


	<div class="moduleSingle-inner mt20 cell-xs-9">
		{% block content %}

		{% endblock %}
	</div>

	<div class="moduleSingle-sidebar cell-xs-3">
		<div class="widget panel">
			<div class="panel-header">Actions</div>
			<div class="panel-section">
				<div class="btn btn-success" ng-click="save()"><i class="ion-checkmark"></i> save</div>
				<div class="btn btn-alert"><i class="ion-trash-a"></i> remove</div>
			</div>
		</div>
	</div>

</div>