{% extends "modularBundle::Admin/moduleSingle.html.twig" %}
{% block content %}
	<form action="" class="form">
		<input type="text" ng-model="data.title">
		<textarea ng-model="data.content"></textarea>	
	</form>
{% endblock %}